@media (max-width:320px) {
    header {
        background-color: aqua;
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }

    #logo {
        font-size: 0.6em;
    }

    #nav-bar {
        gap: 0.5em;
        font-size: 0.8em;
    }

    .btn-navbar {
        width: 7em;
    }

    #btn-login {
        width: 6em;
        height: 1.2em;
    }

    /* Aside - 37em height */
    #aside-top {
        height: 25em;
    }

    #aside-top-txt h1 {
        font-size: 2em;

    }

    #aside-top-txt h6 {
        font-size: 1em;
    }

    /* Aside Bloco 2/ Botões */
    .img-aside {
        width: 2.5em;
    }

    /* Arara */
    #arara {
        left: -1em;
        top: 23em;
        height: 10.5em;
        width: 8em;
    }

    /* Main 50em height*/
    main {
        height: 48em;
    }

    #botoes-main img {
        width: 3em;
    }

    /* Main Bloco 2 / Texto  */
    #msg h1 {
        width: 90%;
        font-size: 1.5em;
    }
    #msg h4 {
        width: 90%;
        font-size: 1.3em;
    }
    #msg p {
        width: 90%;
        font-size: 1em;
    }
}